body {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
}

.container {
    display: grid;

    grid-gap: 2px;
    grid-template-columns: 80px auto;
    grid-template-rows: 80px auto 80px;
    grid-template-areas: "header nav"
                          "main main"
                          "footer footer";
}

.header {
    grid-area: header;
    background-color: black;
}

.nav {
    grid-area: nav;
    background-color: #4f759b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlink {
    text-decoration: none;
    margin: auto;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.main {
    grid-area: main;
    background-color: #FF4EC8;
    margin: 0 2%;
    min-height: 900px;
}

footer {
    grid-area: footer;
    background-color: black;
}

.logo {
    width: 70px;
    height: auto;
    margin: 5px;
}

.startbild  {
    width: 100%;
    height: auto;
    display: block;
}

.divStartBild {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 8px 8px 32px rgba(0,0,0,0.7);
    margin: 0;
    text-align: center;
    font-weight: bold;
    width: 100%;
    pointer-events: none;
    font-size: 64px;
}

.article {
    display: flex; 
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
}

.titelUnterseite {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.beschreibungSeite {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.titelArtikel {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}